# Ignore Mac system files
.DS_store
.gitignore
# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.venv/*

# Ignore SASS config files
.sass-cache
*.sqlite3
*.pyc
~     
